body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

header {
    background: #FFD900;
    padding: 20px 0px 20px 50px;
    margin: 0;
}

#column1 {
    display: flex;
}
.text-column{
    background: #514988;
    padding: 30px 60px 90px 50px;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
}

.text-column h1{
    color:#F3C61F;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
}
.text-column h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 36.46px;
}

.video-column{
    text-align: center;
    padding: 20px;
}

.video-column h2{
    color: #E33881;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.countdown {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #514988;
    display: inline-flex;
    gap: 40px;
}

.tickets {
    color: #F3C61F;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
}

#column2 {
    display: flex;
    justify-content:space-around;
    align-items:center;
}

button {
    margin-top: 100px;
    background: #514988;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    width: 596px;
    height: 148px;
}

button:hover{
    background: #F3C61F;
}